.service-card-item-image-wrapper img {
  width: 100%;
  height: 400px;
}
.service-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 60px 0;
}
.Container {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
}
.service-card-item {
  background-color: #ffffff;
  padding-bottom: 40px;
}
.service-card-area {
  background-color: #f8f9fa;
}
.service-card-item-content {
  padding: 20px;
}
.service-card-btn {
  background-color: #3a52d8;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}
.price {
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .service-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
