.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.imagesize {
  width: 100%;
}
.gallery-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .gallery-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
  }
}
